.or or
.social-buttons
  a.social-media-button.facebook-button(href='/auth/google')
    img(src='https://arcadestudio-assets.s3.us-east-2.amazonaws.com/website/create/login-google.svg' width='18' alt='')
  a.social-media-button.facebook-button(href='/auth/twitter')
    img(src='https://arcadestudio-assets.s3.us-east-2.amazonaws.com/website/create/login-twitter.svg' width='15' alt='')
  a.social-media-button.facebook-button(href='/auth/facebook')
    img(src='https://arcadestudio-assets.s3.us-east-2.amazonaws.com/website/create/login-facebook.svg' alt='')